@font-face {
    font-family: 'Roboto Condensed';
    src: url(../assets/fonts/RobotoCondensed-Regular.ttf);
  }
  @font-face {
    font-family: 'Roboto Condensed';
    src: url(../assets/fonts/RobotoCondensed-Bold.ttf);
    font-weight: 700;
  }
  @font-face {
    font-family: 'Roboto Condensed';
    src: url(../assets/fonts/RobotoCondensed-Light.ttf);
    font-weight: 300;
  }