@import "./variables.scss";

@font-face {
  font-family: "Roboto Condensed";
  src: url(../assets/fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(../assets/fonts/RobotoCondensed-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(../assets/fonts/RobotoCondensed-Light.ttf);
  font-weight: 300;
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #333333;
}

a {
  text-decoration: none !important;
}

button:focus {
  outline: none !important;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.left-sidebar,
.right-sidebar {
  width: $sidebar-width;
  opacity: 0.8;
  background-color: #1e1e1e;
}

.note-title,
.note-body {
  color: #fff;
  font-size: 1.4rem;
  margin: 1rem 0;
}

.note-title-section {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.sidebar-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem 0.3rem;
  align-items: center;
}

.left-sidebar-icon,
.right-sidebar-icon {
  width: 33px;
  cursor: pointer;
}

.left-sidebar__middle-container {
  height: 100%;
}

.main-frame {
  background-color: #333333;
}

.left-sidebar__create-icon,
.left-sidebar__notes-icon,
.left-sidebar__setting-icon,
.left-sidebar__info-icon {
  margin-top: 30px;
  a {
    height: 100% !important;
    display: flex;
    width: 49px;
    &:hover {
      fill: #fff;
    }
  }
  svg {
    margin-left: 7px;
  }
}

.create-icon {
  height: 30px !important;
}

.is-active {
  border-left: 2px solid #fff !important;
}

.transparent-border {
  border-left: 2px solid transparent;
}

.right-sidebar__inner-container {
  height: 100%;
}
